In [66]:
import pandas as pd
import numpy as np
import seaborn as sns
import statsmodels.api as sm
import scipy.stats as stats
import warnings
warnings.filterwarnings("ignore")

import sys


annualization_factor = 12 


file_path = "midterm_2_data.xlsx"  # assuming the file is in the directory
excel_file = pd.ExcelFile(file_path)
sheet_names = excel_file.sheet_names
sheet_names

['sector excess returns', 'factors excess returns']

In [67]:
factors = pd.read_excel("midterm_2_data.xlsx", sheet_name = 'factors excess returns')
factors = factors.set_index('date')
factors.head()

               MKT     HML     RMW     UMD
date
1980-01-01  0.0551  0.0175 -0.0170  0.0755
1980-02-01 -0.0122  0.0061  0.0004  0.0788
1980-03-01 -0.1290 -0.0101  0.0146 -0.0955
1980-04-01  0.0397  0.0106 -0.0210 -0.0043
1980-05-01  0.0526  0.0038  0.0034 -0.0112

In [68]:
sectors = pd.read_excel("midterm_2_data.xlsx", sheet_name = 'sector excess returns')
sectors = sectors.set_index('date')
sectors.head()

,Agric,Food,Soda,Beer,Smoke,Toys,Fun,Books,Hshld,Clths,...,Boxes,Trans,Whlsl,Rtail,Meals,Banks,Insur,RlEst,Fin,Other
date,,,,,,,,,,,,,,,,,,,,,
1980-01-01,-0.0076,0.0285,0.0084,0.1009,-0.0143,0.1002,0.0362,0.0323,0.0048,0.0059,...,0.0158,0.0875,0.0465,-0.0126,0.0430,-0.0283,0.0258,0.0768,0.0308,0.0669
1980-02-01,0.0105,-0.0608,-0.0966,-0.0322,-0.0569,-0.0323,-0.0521,-0.0800,-0.0555,-0.0167,...,-0.0079,-0.0541,-0.0346,-0.0639,-0.0652,-0.0854,-0.0959,-0.0347,-0.0282,-0.0274
1980-03-01,-0.2224,-0.1119,-0.0167,-0.1469,-0.0193,-0.1271,-0.0826,-0.1237,-0.0566,-0.0668,...,-0.0819,-0.1509,-0.1098,-0.0906,-0.1449,-0.0560,-0.0880,-0.2451,-0.1254,-0.1726
1980-04-01,0.0449,0.0766,0.0232,0.0321,0.0830,-0.0529,0.0783,0.0153,0.0304,0.0115,...,0.0420,-0.0103,-0.0312,0.0353,0.0542,0.0728,0.0530,0.0977,0.0447,0.0769
1980-05-01,0.0632,0.0793,0.0457,0.0863,0.0815,0.0509,0.0324,0.0886,0.0560,0.0098,...,0.0564,0.1063,0.1142,0.0877,0.1134,0.0578,0.0557,0.0915,0.0844,0.0685

In [107]:
import numpy as np 

def portfolio_returns_calc(data, weights_df): 
    return pd.DataFrame(data @ (weights_df.values)) 
    
# returns is the main returns not annualized 
import numpy as np
import pandas as pd
from typing import Union

def tangency_weights(
    returns: pd.DataFrame,
    dropna: bool = True,
    scale_cov: float = 1,
    name: str = "Tangency",
    target_ret_rescale_weights: Union[None, float] = None,
    annual_factor: int = 12,
    expected_returns: Union[None, pd.Series] = None,
    expected_returns_already_annualized: bool = False
) -> pd.DataFrame:
    # Drop missing data
    if dropna:
        returns = returns.dropna()

    # Calculate regularized covariance matrix
    covmat_full = returns.cov()
    covmat_diag = np.diag(np.diag(covmat_full))
    covmat = scale_cov * covmat_full + (1 - scale_cov) * covmat_diag
    covmat *= annual_factor  # Annualize covariance matrix

    # Inverse of the covariance matrix
    covmat_inv = np.linalg.pinv(covmat)

    # Calculate expected returns
    if expected_returns is not None:
        mu = expected_returns.copy()
        if not expected_returns_already_annualized:
            mu *= annual_factor
    else:
        mu = returns.mean() * annual_factor  # Annualize mean returns

    # Tangency portfolio weights (unscaled)
    weights = covmat_inv @ mu
    weights /= weights.sum()  # Normalize weights to sum to 1

    # Create DataFrame for weights
    tangency_weights_df = pd.DataFrame(weights, index=returns.columns, columns=[f"{name} Weights"])

    # Rescale weights to target return (if specified)
    if target_ret_rescale_weights is not None:
        port_return = (weights @ mu)  # Portfolio return with current weights
        scaler = target_ret_rescale_weights / port_return
        tangency_weights_df *= scaler  # Rescale weights

    return tangency_weights_df

In [73]:
train = sectors.loc['2018':'2022']
test = sectors.loc['2023':]
train_f = factors.loc['2018':'2022']
test_f = factors.loc['2023':]
train_f

               MKT     HML     RMW     UMD
date
2018-01-01  0.0557 -0.0128 -0.0075  0.0405
2018-02-01 -0.0365 -0.0104  0.0048  0.0355
2018-03-01 -0.0235 -0.0020 -0.0042 -0.0113
2018-04-01  0.0029  0.0054 -0.0244  0.0037
2018-05-01  0.0265 -0.0322 -0.0205  0.0387
2018-06-01  0.0048 -0.0233  0.0080 -0.0236
2018-07-01  0.0319  0.0045  0.0155 -0.0142
2018-08-01  0.0344 -0.0400 -0.0031  0.0528
2018-09-01  0.0006 -0.0171  0.0063  0.0004
2018-10-01 -0.0768  0.0340  0.0095 -0.0207
2018-11-01  0.0169  0.0028 -0.0055 -0.0137
2018-12-01 -0.0957 -0.0188 -0.0003  0.0211
2019-01-01  0.0840 -0.0045 -0.0078 -0.0866
2019-02-01  0.0340 -0.0271  0.0012  0.0085
2019-03-01  0.0110 -0.0412  0.0091  0.0219
2019-04-01  0.0397  0.0216  0.0159 -0.0297
2019-05-01 -0.0694 -0.0237 -0.0046  0.0758
2019-06-01  0.0693 -0.0070  0.0090 -0.0225
2019-07-01  0.0119  0.0047 -0.0007  0.0288
2019-08-01 -0.0258 -0.0479  0.0056  0.0691
2019-09-01  0.0143  0.0677  0.0184 -0.0683
2019-10-01  0.0206 -0.0190  0.0043  0.0015
2019-11-01  0.0388 -0.0199 -0.0163 -0.0264
2019-12-01  0.0277  0.0178 -0.0002 -0.0187
2020-01-01 -0.0011 -0.0625 -0.0120  0.0597
2020-02-01 -0.0813 -0.0380 -0.0149 -0.0035
2020-03-01 -0.1339 -0.1388 -0.0156  0.0796
2020-04-01  0.1365 -0.0134  0.0273 -0.0526
2020-05-01  0.0558 -0.0485  0.0093  0.0041
2020-06-01  0.0246 -0.0223  0.0013 -0.0073
2020-07-01  0.0577 -0.0144  0.0040  0.0759
2020-08-01  0.0763 -0.0288  0.0433  0.0044
2020-09-01 -0.0363 -0.0265 -0.0128  0.0314
2020-10-01 -0.0210  0.0431 -0.0076 -0.0320
2020-11-01  0.1247  0.0215 -0.0222 -0.1247
2020-12-01  0.0463 -0.0134 -0.0188 -0.0238
2021-01-01 -0.0003  0.0285 -0.0392  0.0453
2021-02-01  0.0278  0.0710  0.0039 -0.0793
2021-03-01  0.0308  0.0727  0.0634 -0.0616
2021-04-01  0.0493 -0.0095  0.0247  0.0122
2021-05-01  0.0029  0.0713  0.0240  0.0090
2021-06-01  0.0275 -0.0775 -0.0204  0.0216
2021-07-01  0.0127 -0.0181  0.0548 -0.0231
2021-08-01  0.0291 -0.0010 -0.0022  0.0249
2021-09-01 -0.0437  0.0510 -0.0195  0.0150
2021-10-01  0.0665 -0.0045  0.0172  0.0324
2021-11-01 -0.0155 -0.0041  0.0727  0.0086
2021-12-01  0.0310  0.0322  0.0483 -0.0274
2022-01-01 -0.0625  0.1280  0.0084 -0.0262
2022-02-01 -0.0229  0.0310 -0.0210  0.0177
2022-03-01  0.0306 -0.0176 -0.0150  0.0297
2022-04-01 -0.0946  0.0617  0.0347  0.0487
2022-05-01 -0.0034  0.0859  0.0170  0.0246
2022-06-01 -0.0844 -0.0610  0.0174  0.0073
2022-07-01  0.0957 -0.0403  0.0085 -0.0394
2022-08-01 -0.0377  0.0029 -0.0479  0.0210
2022-09-01 -0.0935  0.0002 -0.0146  0.0351
2022-10-01  0.0783  0.0806  0.0331  0.0396
2022-11-01  0.0461  0.0141  0.0632 -0.0198
2022-12-01 -0.0641  0.0134  0.0027  0.0453

In [74]:
train.shape, train_f.shape

((60, 49), (60, 4))

In [93]:
def factor_model(portfolios: pd.DataFrame, factors_used: list, factors_data: pd.DataFrame, name: str) -> pd.DataFrame: 
    
    summary = pd.DataFrame(index=portfolios.columns)

    for asset in portfolios.columns:
        asset_ret = portfolios[asset]
        
        x = factors_data[factors_used]
        model = sm.OLS(asset_ret, x).fit()
        for i in range(len(factors_used)):
            factor = factors_used[i]
            summary.loc[asset, f'{factor}'] = model.params[i]
    
    return summary 
    
summary = factor_model(train, list(train_f.columns), train_f, 'FF')     
summary.head()

            MKT       HML       RMW       UMD
Agric  0.832362  0.556541 -0.502093  0.038972
Food   0.524509  0.205452  0.309711 -0.003572
Soda   0.540240  0.179127  0.638443  0.013688
Beer   0.541267  0.022959  0.629678 -0.040541
Smoke  0.498185  0.443078  0.402220 -0.134015

In [97]:
factor_mean = train_f.mean()
er = summary.mul(factor_mean, axis=1).sum(axis=1)
er.head()

Agric    0.003655
Food     0.005454
Soda     0.007336
Beer     0.007137
Smoke    0.005143
dtype: float64

In [99]:
(er * annualization_factor).head()

Agric    0.043861
Food     0.065451
Soda     0.088035
Beer     0.085648
Smoke    0.061716
dtype: float64

In [105]:
regularized_weights_df.head()

       Regularized Weights
Agric             0.144090
Food             -0.069810
Soda              0.322680
Beer              0.107614
Smoke            -0.043393

In [112]:
tan_weights = tangency_weights(
    returns= train,
    dropna=True,
    scale_cov = 0.5,
    name = "Tangency",
    annual_factor=annualization_factor,
    expected_returns = er,
)
tan_weights.head()

       Tangency Weights
Agric         -0.030723
Food           0.015320
Soda           0.132944
Beer           0.079421
Smoke          0.012323

In [115]:
# use this allocation in the test 
returns_test = portfolio_returns_calc(test, tan_weights)

def portfolio_metrics_basic(returns: pd.DataFrame, annualization_factor: float) -> pd.DataFrame: 
    '''
    Returns Annualized ER, Vol, SR, 
    '''
    
    returns_df = pd.DataFrame(index = returns.columns) 
    mu = returns.mean() * annualization_factor
    vol = returns.std() * np.sqrt(annualization_factor)
    sr = mu / vol

    
    returns_df['Annnualized Return'] = mu.values 
    returns_df['Annnualized Vol'] = vol.values 
    returns_df['Annnualized SR'] = sr.values
    
    return returns_df

portfolio_metrics_basic(returns_test,annualization_factor)

   Annnualized Return  Annnualized Vol  Annnualized SR
0            0.181176         0.119549        1.515494

In [127]:
# construct tan portfolio. replace risk premia with sample average from train 
tan_weights = tangency_weights(
    returns= train,
    dropna=True,
    scale_cov = 0.5,
    name = "sample_avg",
)
returns_sample = portfolio_returns_calc(test, tan_weights)
portfolio_metrics_basic(returns_sample,annualization_factor)

   Annnualized Return  Annnualized Vol  Annnualized SR
0            0.176801          0.15301        1.155487

In [132]:
# build a tan portfolio using factors only 
factor_tan_weights = tangency_weights(
    returns= train_f,
    dropna=True,
    scale_cov = 0.5,
    name = "factors_tan",
    expected_returns = train_f.mean(),
)
returns_factors = portfolio_returns_calc(test_f, factor_tan_weights)
portfolio_metrics_basic(returns_factors,annualization_factor)

   Annnualized Return  Annnualized Vol  Annnualized SR
0            0.062376         0.058191        1.071918

# Long Run Returns

In [38]:
import numpy as np
factors_log = np.log(factor + 1)
factors_log

                 MKT       HML       RMW       UMD
date
1980-01-01  0.053636  0.017349 -0.017146  0.072786
1980-02-01 -0.012275  0.006081  0.000400  0.075849
1980-03-01 -0.138113 -0.010151  0.014494 -0.100373
1980-04-01  0.038932  0.010544 -0.021224 -0.004309
1980-05-01  0.051263  0.003793  0.003394 -0.011263
...              ...       ...       ...       ...
2024-04-01 -0.047826 -0.005214  0.014692 -0.004209
2024-05-01  0.042485 -0.016739  0.029365 -0.000200
2024-06-01  0.027323 -0.033660  0.005087  0.008960
2024-07-01  0.012324  0.055718  0.002198 -0.024498
2024-08-01  0.015972 -0.011263  0.008464  0.046693

[536 rows x 4 columns]

In [39]:
factors_log.mean(), factors_log.std()

(MKT    0.006129
 HML    0.001647
 RMW    0.003628
 UMD    0.004175
 dtype: float64,
 MKT    0.045853
 HML    0.031691
 RMW    0.024125
 UMD    0.046313
 dtype: float64)

In [40]:
def portfolio_metrics_basic(returns: pd.DataFrame, annualization_factor: float) -> pd.DataFrame: 
    '''
    Returns Annualized ER, Vol, SR, 
    '''
    
    returns_df = pd.DataFrame(index = returns.columns) 
    mu = returns.mean() * annualization_factor
    vol = returns.std() * np.sqrt(annualization_factor)
    sr = mu / vol

    
    returns_df['Annnualized Return'] = mu.values 
    returns_df['Annnualized Vol'] = vol.values 
    returns_df['Annnualized SR'] = sr.values
    
    return returns_df
annualization_factor = 12
metrics = portfolio_metrics_basic(factors_log,annualization_factor)
metrics

     Annnualized Return  Annnualized Vol  Annnualized SR
MKT            0.073549         0.158841        0.463033
HML            0.019770         0.109782        0.180081
RMW            0.043540         0.083573        0.520979
UMD            0.050095         0.160433        0.312248

In [41]:
metrics_15.columns

Index(['Annnualized Return', 'Annnualized Vol', 'Annnualized SR'], dtype='object')

In [42]:
# since log returns  are iid, 
metrics_15 = metrics.copy() 
metrics_15['Annnualized Return'] = metrics_15['Annnualized Return'] * 15
metrics_15['Annnualized Vol'] = metrics_15['Annnualized Vol'] * np.sqrt(15)
metrics_15['Annnualized SR'] = metrics_15['Annnualized SR'] * np.sqrt(15)
metrics_15

     Annnualized Return  Annnualized Vol  Annnualized SR
MKT            1.103228         0.615188        1.793318
HML            0.296544         0.425182        0.697452
RMW            0.653096         0.323676        2.017743
UMD            0.751422         0.621353        1.209332

In [43]:
# probability that momentum fator has a negative mean excess return 

from scipy.stats import norm 

def prob(mu, sigma, h): 
    return norm.cdf(np.sqrt(h) * mu/sigma) 

# negative excess return (left side) 
prob_1_month = 1- prob(metrics.loc['UMD', 'Annnualized Return'], metrics.loc['UMD', 'Annnualized Vol'], 1/annualization_factor) 
prob_15_years = 1- prob(metrics.loc['UMD', 'Annnualized Return'], metrics.loc['UMD', 'Annnualized Vol'], 15) 
prob_1_month, prob_15_years

(0.4640886761424672, 0.1132677468366372)

In [49]:
log_spread = factors_log.loc[factors_log.index >= '2009']
log_spread = log_spread['UMD'] - log_spread['MKT']
log_spread_df = portfolio_metrics_basic(log_spread.to_frame('log_spread'),annualization_factor)
log_spread_df

            Annnualized Return  Annnualized Vol  Annnualized SR
log_spread           -0.154803         0.270968       -0.571297

In [52]:
# outperform > 0 
prob_1_month = prob(log_spread_df.loc['log_spread', 'Annnualized Return'], log_spread_df.loc['log_spread', 'Annnualized Vol'], 1/annualization_factor) 
prob_15_years =  prob(log_spread_df.loc['log_spread', 'Annnualized Return'], log_spread_df.loc['log_spread', 'Annnualized Vol'], 15) 
prob_1_month, prob_15_years

(0.4345038271448206, 0.013461859038858909)